.slds-box_vertical {
    border: none;
}
.slds-box {
    border: none;
}
.background_gray-1 {
    background-color: rgb(247, 247, 247);
}
.background_gray-2 {
    background-color: rgb(251, 251, 251);
}